<nav class="navbar is-dark">
  <div class="navbar-brand" >
    <a class="navbar-item" routerLink="user-profile">
      <h4> <i class="fa fa-eye-slash" aria-hidden="true"></i> GITHACK</h4>
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="user-profile">GITUSERS<span class="sr-only">(current)</span>
      </a>
     
      <div class="navbar-start">
        <a class="navbar-item"  routerLink="search-repo">
         GITREPOSITORIES
        </a>
      </div>
    </div>
  
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button is-info" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://twitter.com">
              <span class="icon">
                <i class="fa fa-twitter"style="font-size:20px"></i>
              </span>
            </a>
          </p>
          <p class="control">
            <a class="button is-info  " data-social-network="Facebook" data-social-action="facebook" data-social-target="https://bulma.io" target="_blank" href="https://facebook.com">
              <span class="icon">
                <i class="fa fa-facebook"style="font-size:20px"></i>
              </span>

            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
