<div class="container-fluid">
  <div class="overlay">
    <app-search-form (searchOutput)="searchs($event)"></app-search-form>
    <hr />
    <div class="container content">
      <div class="row">
        <div class="col-sm-7 user">
          <div class="cardtopme" class="card">
            <div class="card-body">
              <h4 class="card-header">{{ user.login }}</h4>

              <p>
                <i
                  class="card-content"
                  class="fa fa-folder"
                  style="font-size: 18px;"
                ></i>
                Repositories:
                <span class="follow">{{ user.public_repos }}</span>
              </p>
              <hr />
              <p>
                <i
                  class="card-content"
                  class="fa fa-users"
                  style="font-size: 18px;"
                ></i>
                Following: <span class="follow">{{ user.following }}</span>
              </p>

              <hr />
              <p>
                <i
                  class="card-content"
                  class="fa fa-users"
                  style="font-size: 18px;"
                ></i>
                Followers: <span class="follow">{{ user.followers }}</span>
              </p>
              <hr />
              <p>
                <i
                  class="card-content"
                  class="fa fa-calendar"
                  style="font-size: 18px;"
                ></i>
                Since:
                <span class="datejoined">{{ user.created_at | datePipe }}</span>
              </p>
              <hr />
              <p>
                <i
                  class="card-content"
                  class="fa fa-location-arrow"
                  style="font-size: 18px;"
                ></i>
                Location: <span class="follow">{{ user.location }}</span>
              </p>
              <br />
            </div>
          </div>
        </div>
        <div class="col-sm-4" id="imgcard">
          <div class="userimage">
            <div>
              <br />
              <img src="{{ user.avatar_url }}" alt="" />
              <span
                ><a href="{{ user.html_url }}">
                  <br />
                  <button class="btn-success btn btn-lg">
                    <i class="icon is-large" class="fab fa-github"
                      ><span class="gtext"> GITHUB</span></i
                    >
                  </button></a
                >
              </span>
            </div>
            <div class="card-header">
              <span class="fa fa-user" class="card-header-title" class="name"
                ><i style="font-size: 14px;"></i> {{ user.login }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center repos" id="reps"></div>
    <div class="container allrepos">
      <div
        class="card"
        appHighlight
        *ngFor="let repository of repo"
        style="width: 22rem;"
        class="repo"
      >
        <div class="card-body">
          <div class="card-header">
            <h5 class="card-header-title">
              <span class="top"></span> {{ repository.name }}
            </h5>
            <div
              class="card-footer-item"
              class="btn-group"
              role="group"
              aria-label="Third group"
            >
              <button
                class="button is-rounded btn btn-lg button is-success"
                id="visit"
              >
                <a href="{{ repository.html_url }}" class="card-link"
                  >
                  <i class="far fa-file-code" style="font-size: 20px"><span class="rtext">REPO</span></i
                ></a>  
              </button>
            </div>
          </div>
          <div class="card-content">
            <hr />
            <div class="card-subtitle mb-2" class="desc">
              <span class="top">Repository Description:</span>
              {{ repository.description }}
            </div>
            <hr />
            <div class="card-subtitle mb-2">
              <span class="top">Language: </span> {{ repository.language }}
            </div>
            <div class="card-subtitle mb-2">
              <span class="top" class="fa fa-clock-o"> Created On:</span>
              {{ repository.created_at | date }}
              <hr />
              {{ repository.created_at | datePipe }}
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div
            class="card-footer-item"
            class="btn-group"
            role="group"
            aria-label="Third group"
          >
            <button class="button is-rounded btn btn-lg btn-info">
              <i class="fa fa-eye" style="font-size: 16px;"></i> &nbsp;<span
                class="forks" 
                >{{ repository.watchers_count }}</span
              >
            </button>
          </div>
          <div
            class="card-footer-item"
            class="btn-group"
            role="group"
            aria-label="Third group"
          >
            <button class="button is-rounded btn btn-lg btn-danger">
              <i class="fas fa-code-branch" style="font-size: 16px;"></i>
              
              &nbsp;<span class="forks">{{ repository.forks }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer-fluid">
      <div class="content has-text-centered">
        <p>
          GITHACK by
          <a href="https://github.com/EssyMwangi">ESSY MUTHONI MWANGI</a>. The
          source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
      </div>
    </footer>
  </div>
</div>
