<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form class="form-inline">
        <input
          class="form-control form-control-lg mr-4 w-75"
          type="text"
          placeholder="Enter Github Name..."
          name="searchName"
          [(ngModel)]="searchName"
          aria-label="Search"
        />
        <button class="btn btn-success btn-md" (click)="search()">
          <i class="fa fa-search" aria-hidden="true"></i> <span class="stext">SEARCH</span>
        </button>
      </form>
    </div>
  </div>
</div>
